body{
    background-color: beige;
}

p{
    color: brown;
}

.item-lista{
    color: blue;
}

.decorado{
    list-style-type: none;
    background-color: pink;
}

.fondo2{
    background-color: darkorange;
    color: white;
    padding:40px;
}

#titular{
    font-weight: 600;
}